.wrap h1 {
    color: #23282d;
}

#avatarmx-stats-container, #avatarmx-logs-container {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-top: 1rem;
}
